@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

:root {
    --primary-color: tomato;
    --secondary-color: rgb(11, 179, 126);
    --dark-color: slateblue;

    --heading-font: 'Playfair Display', serif;

    --space-xs: 8px;
    --space-sm: 12px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 40px;
    --space-2xl: 74px;
}

body {
    margin: 0;
    color: #222;
    font-family: 'Poppins'sans-serif;
}

.container {
    max-width: 1200px;
    padding: 24px;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

section {
    padding: var(--space-2xl) 0;
}

h2 {
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 700;
    margin: 0;
}

strong {
    color: var(--primary-color);
}

/* HERO AREA */
.hero-area {
    color: white;
    background-image: linear-gradient(rgb(0, 0, 0, 0.25), rgba(0, 0, 0, 0.65)),
        url(./img/mountain.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-area header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resvations {
    background-color: var(--primary-color);
    padding: 14px;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    align-items: center;
    outline: none;
}

.resvations i {
    margin-right: var(--space-xs);
}

.main_heading {
    font-size: 3.25rem;
    font-weight: 700;
    max-inline-size: 620px;
}

.adventure {
    text-transform: capitalize;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    outline: none;
}

.adventure i {
    margin-left: var(--space-xs);
    padding: var(--space-xs);
    font-size: 2.5rem;
    border: 2px solid snow;
    border-radius: 50%;
}

.booking {
    margin-top: 100px;
}

.booking_inputs {
    color: #333;
    background-color: white;
    border-radius: 9px;
    padding: var(--space-lg);
}

.booking_input label {
    color: #929191;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

.booking_input input,
.booking_input select {
    display: block;
    width: 100%;
    border: none;
    padding: var(--space-xs) 0;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.booking_button {
    background-color: var(--primary-color);
    padding: var(--space-lg) var(--space-sm);
    border-radius: var(--space-sm);
    box-shadow: 0px 4px 20px rgb(241, 73, 73);
    font-weight: 600;
    text-transform: uppercase;
    margin-top: var(--space-sm);
    outline: none;
}

@media (min-width: 720px) {
    .booking_inputs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .booking_input {
        padding: 0 var(--space-lg);
        border-left: 1px solid rgb(185, 185, 185);
    }

    .booking_input:first-child {
        border: none;
        padding-left: 0;
    }

    .booking_input:last-child {
        padding-right: 0;
    }
}

@media (min-width: 1020px) {
    .booking {
        display: flex;
    }

    .booking_button {
        margin-top: 0;
        margin-left: var(--space-md);
    }
}


/* About Us */
.section-name {
    text-transform: uppercase;
    color: #bdbdbd;
    font-weight: 500;
    font-size: 0.875rem;
}

.about-us img {
    width: 100%;
    border-radius: 8px;
}

.about-us p {
    color: #828282;
    margin: 0;
}

.about-us__content {
    margin-top: var(--space-lg);

    display: grid;
    gap: var(--space-lg);
}

.about-us__content--left,
.about-us__content--right {
    display: grid;
    gap: var(--space-lg);
}

@media (min-width: 720px) {
    .about-us__content {
        grid-template-columns: 1fr 1fr;

    }

    .about-us__content--right img {
        order: -1;
    }
}

/* ACCOMMODATIONS */
.accommodations-header {
    margin-top: var(--space-lg);
}

.text-button {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    outline: none;
}

.text-button i {
    margin-left: var(--space-sm);
}

.stays {
    margin-top: var(--space-lg);

    display: grid;
    gap: var(--space-lg);
}

.stay-card {
    border-radius: 8px;
    overflow: hidden;

    position: relative;
    color: #fff;
    height: 380px;
}

.stay-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    transition: opacity 200ms ease-in-out;
}

.stay-card:hover::before {
    opacity: 0;
}

.stay-card:hover .stay-card__name {
    transform: translateX(calc(-100% - var(--space-lg)));
}

.stay-card:hover .stay-card__price {
    transform: translateX(calc(-100% - var(--space-lg)));
}

.stay-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.stay-card__details {
    position: absolute;
    bottom: var(--space-lg);
    left: var(--space-md);
}

.stay-card__name {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: var(--space-sm);
    transition: transform 200ms ease-in-out;
}

.stay-card__price {
    font-weight: 700;
    transition: transform 200ms ease-in-out 100ms;
}

@media (min-width:760px) {
    .stays {
        grid-template-columns: 1fr 1fr;
    }

    .stay-card--col-2 {
        grid-column: 1 / span 2;
    }
}

@media (min-width:1020px) {
    .stays {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* TESTIMONIAL */
.testimonials {
    background: #f2f2f2;
}

.feedback {
    margin-top: var(--space-2xl);
    display: grid;
    gap: var(--space-xl);
}

.feedback-card__dialog {
    background: #fff;
    padding: var(--space-xl) var(--space-lg);
    border-radius: 20px 20px 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    font-family: var(--heading-font);
}

.feedback-card__dialog__title {
    font-weight: 700;
    margin-bottom: var(--space-md);
}

.feedback-card__dialog__content {
    color: #4f4f4f;
    line-height: 180%;
}

.feedback-card__user {
    margin-top: var(--space-md);
    display: grid;
    grid-template-columns: 52px 1fr;
    gap: var(--space-md);
}

.feedback-card__user img {
    border-radius: 100%;
    width: 100%;
}

.feedback-card__user__name {
    font-weight: 500;
}

.feedback-card__user__location {
    color: #bdbdbd;
    font-size: 0.75rem;
}

@media (min-width:760px) {
    .feedback {
        grid-template-columns: repeat(3, 1fr);
    }
}

footer {
    font-family: var(--heading-font);
}

.top-header {
    position: fixed;
    font-weight: 700;
    width: 100%;
    z-index: 1;
}

.top-header .container {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.top-header--white-background {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.top-header--white-background h4 {
    color: var(--primary-color);
    font-weight: 700;
}